//Menu Button

.menu-btn {
	position: absolute; //right corner
	z-index: 3;
	right: 35px; //FROM right
	top: 35px;
	cursor: pointer;
	@include easeOut;

	.btn-line {
		width: 28px;
		height: 3px;
		margin-bottom: 5px;
		background: #FFF;
		@include easeOut;
	}

	//Rotate into X with Menu Lines
	&.close { //when menu button has close class
		transform: rotate(180deg);

		.btn-line {
			//Line 1 Rotate
			&:nth-child(1) {
				-webkit-transform: rotate(45deg) translate(5px, 5px);
				        transform: rotate(45deg) translate(5px, 5px);
			}

			//Line 2 Hide
			&:nth-child(2) {
				opacity: 0;
			}

			//Line 3 Rotate
			&:nth-child(3) {
				-webkit-transform: rotate(-45deg) translate(7px, -6px);
				        transform: rotate(-45deg) translate(7px, -6px);
			}
		}
	}
}

// Menu Overlay
.menu {
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.9;
	visibility: hidden;

	&.show {
		visibility: visible;
	}

	//represents menu-branding
	// common styling
	&-branding,
	 &-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		float: left;
		width: 50%;
		height: 100vh;
		overflow: hidden;
	}

	//nav side only
	&-nav {
		margin: 0;
		padding: 0;
		background: darken($primary-color, 5); //5%
		list-style: none;
		-webkit-transform: translate3d(0, -100%, 0);
		        transform: translate3d(0, -100%, 0); //off page
		@include easeOut;

		&.show {
			//slide in the nav from top using translate3d
			transform: translate3d(0, 0, 0);
		}
	}

	//branding side only
	&-branding {
		background: $primary-color; //NOTE: This is still visible because opacity is set on the .menu class;
		-webkit-transform: translate3d(0, 100%, 0);
		        transform: translate3d(0, 100%, 0);
		@include easeOut;

		//slide in the nav from bottom using translate3d
		&.show {
			-webkit-transform: translate3d(0, 0, 0);
			        transform: translate3d(0, 0, 0);
		}

		.portrait {
			width: 250px;
			height: 250px;
			background: url('../img/portrait.jpg');
			border-radius: 50%;
			border: solid 3px $secondary-color;
		}
	}
}
